<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header('Administrator')" />
  <body class="fixed-sn white-skin">
    <nav th:replace="/fragments/navbar :: navbar" />
    <div class="container">
      <section class="text-center my-5">
        <div class="d-flex align-items-start">
          <div class="float-left">
            <a class="black-text" th:href="@{/}">
              <i
                class="fas fa-chevron-circle-left fa-2x prefix text-black ml-3"
              ></i>
            </a>
          </div>
          <div class="mx-auto">
            <h2 class="text-center font-weight-bold mb-4 pb-1">Administrator Area</h2>
            <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">
              Only administrator can can have access to this page.
            </p>
          </div>
        </div>

        <!--First row-->
        <div class="row justify-content-center">
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-4">
            <!-- Card -->
            <a
              th:href="@{/admin/manage-post}"
              class="card hoverable border-bottom-aqua"
            >
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-tablet-alt fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Manage Posts</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <!-- Card -->
            <a
              th:href="@{/admin/manage-customers}"
              class="card hoverable border-bottom-aqua"
            >
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-cogs fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Manage Members</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->
        </div>
        <!--First row-->
      </section>
    </div>
    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
