<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorate="~{/fragments/layout}"
>
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <!-- stats -->
      <section th:replace="fragments/stats :: stats"></section>
      <!-- stats -->
      <!-- tab_header -->
      <section th:replace="fragments/stats :: tab_header_category"></section>
      <!-- tab_header -->

      <hr class="hr" />
      <div class="row">
        <div
          th:if="${#lists.isEmpty(categoryPosts)}"
          class="text-center mx-auto text-black-50 h2-responsive"
        >
          <i
            class="fas fa-exclamation-triangle my-lg-5 fa-5x text-black-50"
          ></i>
          <h4 class="h4-responsive">No available post for this category!</h4>
        </div>
        <!-- card -->
        <div
          th:each="categoryPost: ${categoryPosts}"
          class="col-lg-12 col-md-12"
        >
          <div class="card card-wrapper">
            <!-- Card content -->

            <div class="card-body">
              <div class="row">
                <div class="col-md-8 col-sm-6">
                  <a th:href="@{/post/}  + ${categoryPost.id}">
                    <h5
                      th:text="${categoryPost.title}"
                      class="card-title black-text font-small float-md-left"
                    ></h5
                  ></a>
                </div>

                <!-- <div
                  th:if="${customer.username} == ${categoryPost.customer.username}"
                  class="col-md-4 col-sm-6 d-none d-sm-block text-center"
                >
                  <span
                    class="float-md-right"
                    sec:authorize="isAuthenticated()"
                  >
                    <a
                      class="
                        btn
                        btn-outline-success
                        btn-outline-no-padding
                        btn-floating
                      "
                      th:href="@{/edit-post/} + ${categoryPost.id}"
                      ><i class="fas fa-edit text-success"> </i
                    ></a>
                    <a
                      class="
                        btn
                        btn-floating
                        btn-outline-danger
                        btn-outline-no-padding
                      "
                      data-toggle="modal"
                      th:attr="data-target='#delete-post'+ *{categoryPost.id}"
                    >
                      <i class="fas fa-trash pink-text"></i>
                    </a>
                  </span>
                </div> -->
              </div>

              <!-- Text -->
              <div class="card-text justify-content-md-center">
                <span class="mx-2 text-black-50">
                  <a class="badge badge-danger p-1 mr-2">
                    <i class="fab fa-slack-hash mr-2" aria-hidden="true"></i
                    >[[*{categoryPost.category.name}]]</a
                  >

                  <a  class="text-danger p-1 mr-2" style="font-size: 75%"
                    ><i class="fas fa-calendar-alt mx-1"></i>
                    [[*{#dates.format(categoryPost.createdDate,
                    'MMM-dd-yyy')}]]</a
                  >

                  <a  class="text-success p-1 mr-2" style="font-size: 75%">
                    <i class="fas fa-user-circle mx-1"></i>
                    [[*{categoryPost.customer.firstName} + ' ' +
                    *{categoryPost.customer.lastName}]]</a
                  >

                  <a  class="text-muted p-1 mr-2" style="font-size: 75%">
                    <i class="far fa-eye mx-1"></i>
                    [[*{categoryPost.viewCounts} == 0 ? 'No views' : ${categoryPost.viewCounts}]]</a
                  >
                </span>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- end card -->

          <!-- Modal -->
          <div
            class="modal fade"
            th:id="*{'delete-post' + {categoryPost.id}}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
            <div class="modal-dialog modal-dialog-centered" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <i
                      class="
                        fas
                        fa-exclamation-triangle
                        mx-2
                        fa-9x
                        pink-text
                        animated
                        rotateIn
                      "
                    ></i>
                    <h4 class="h4-responsive my-3">
                      Are you sure you want to delete?
                    </h4>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <a
                    th:href="@{/delete-post/} + ${categoryPost.id}"
                    class="btn btn-success"
                  >
                    Delete Post
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- end modal -->
        </div>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->

    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
