<!DOCTYPE html>
<html
  layout:decorate="~{fragments/layout}"
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <section class="text-justify">
        <div class="p-lg-5 p-md-3 p-3 bg-white card">
          <h1
            th:text="${myPost.title}"
            class="text-center py-3 black-text font-weight-bold h1-responsive"
          ></h1>
          <div th:utext="${myPost.content}"></div>
        </div>
      </section>
    </div>

    <script th:replace="/fragments/script :: script" />
  </body>
</html>
