<!DOCTYPE html>
<html
  layout:decorate="~{fragments/layout}"
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <section class="text-justify">
        <!-- Card -->
        <div class="card card-cascade narrower px-4 mb-5">
          <!-- Card image -->
          <div class="view view-cascade gradient-card-header aqua-gradient d-flex align-items-center">
            <!-- Title -->
           
                    <div class="float-left">
                      <a class="black-text" th:href="@{/}">
                        <i
                          class="
                            fas
                            fa-chevron-circle-left fa-2x
                            prefix
                            text-black
                            ml-3
                          "
                        ></i>
                      </a>
                    </div>

                    <div class="mx-auto">
                      
                      <h2
                        th:text="${myPost.title}"
                        class="card-header-title h2-responsive black-text"
                      ></h2>
                   
                    </div>
                    </div>

          <!-- Card content -->
          <div
            th:utext="${myPost.content}"
            class="card-body card-body-cascade"
          ></div>
        </div>
        <!-- Card -->
      </section>
    </div>

    <script th:replace="/fragments/script :: script" />
  </body>
</html>
