* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.error {
  border: 1px solid red;
}
.white-skin .form-header,
.white-skin .card-header {
  background-color: #00e676;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.note-editor {
  box-shadow: none;
}

.white-skin {
  background-color: #f7fffb;
}

.card {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  background: #fff;
}
.card-wrapper {
  border-left: 2px solid #00e676;
}
