<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="stylesheet" th:href="@{/mdb/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/mdb/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/mdb/css/style.css}" />

    <!-- CSS -->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
      Home Page
    </title>
  </head>
</html>
