<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />

  <body class="fixed-sn white-skin">
    <!-- navbar -->
    <nav th:replace="/fragments/navbar :: navbar" />

    <main class="px-0" style="min-height: 100vh">
      <div layout:fragment="content" class="container">
        <!-- content here -->
      </div>
    </main>

    <footer class="green accent-3 p-0">
      <div class="container">
        <!-- Copyright -->
        <div class="text-center text-dark py-3">
          © 2021 Copyright:
          <a class="text-center text-dark" href="#"> Develop By Hubert B</a>
        </div>
        <!-- Copyright -->
      </div>
    </footer>
    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
