<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />

  <body class="fixed-sn white-skin">
    <!-- navbar -->
    <nav th:replace="/fragments/navbar :: navbar" />

    <main class="px-0" style="min-height: 100vh">
      <div class="fluid-container">
        <div class="row justify-content-between">
          <div
            sec:authorize="isAuthenticated"
            class="col-lg-3 col-md-3 d-none d-xl-block"
          >
            <!-- Card -->
            <div class="card testimonial-card">
              <!-- Background color -->
              <div class="card-up gradient-card-header aqua-gradient"></div>

              <!-- Avatar -->
              <div class="avatar mx-auto white">
                <img
                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                  class="rounded-circle"
                  alt="woman avatar"
                />
              </div>

              <!-- Content -->
              <div class="card-body">
                <!-- Name -->
                <h4 class="card-title">
                  [[${customer.firstName} + ' ' + ${customer.lastName}]]
                </h4>
                <hr />
                <!-- Quotation -->
                <p>
                  <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit. Eos, adipisci
                </p>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!-- content here -->
          <div layout:fragment="content" class="col pb-5"></div>
        </div>
      </div>
    </main>

    <footer class="green accent-3 p-0">
      <div class="container">
        <!-- Copyright -->
        <div class="text-center text-dark py-3">
          © 2021 Copyright:
          <a class="text-center text-dark" href="#"> Develop By Hubert B</a>
        </div>
        <!-- Copyright -->
      </div>
    </footer>
    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
