<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />

  <body class="fixed-sn white-skin">
    <!-- navbar -->
    <nav th:replace="/fragments/navbar :: navbar" />

    <main class="px-0" style="min-height: 100vh">
      <div class="fluid-container">
        <div class="row justify-content-between">
          <div
            sec:authorize="isAuthenticated"
            class="col-lg-3 col-md-3 d-none d-xl-block"
          >
            <!-- Card -->
            <div class="card testimonial-card">
              <!-- Background color -->
              <div class="card-up gradient-card-header aqua-gradient"></div>

              <!-- Avatar -->
              <div class="avatar mx-auto white">
                <img
                  th:src="@{${customer.ProfileImagePath}}"
                  class="mx-auto rounded-circle"
                  width="150px"
                  height="150px"
                />
              </div>

              <!-- Content -->
              <div class="card-body">
                <!-- Name -->
                <h4 class="card-title">
                  [[${customer.firstName} + ' ' + ${customer.lastName}]]
                </h4>
                <hr />
                <!-- Quotation -->
                <p>
                  <i class="fas fa-quote-left"></i> [[${customer.description}]]
                </p>
              </div>
            </div>
            <!-- Card -->

            <!-- caregories -->
            <!-- Section: Block Content -->
            <section class="my-5">
              <div class="list-group list-group-flush card rounded">
                <div
                  class="
                    list-group-item
                    d-flex
                    aqua-gradient
                    justify-content-start
                    align-items-center
                    py-3
                  "
                >
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                    class="rounded-circle z-depth-0"
                    width="50"
                    alt="avatar image"
                  />
                  <div class="d-flex flex-column pl-3">
                    <p class="font-weight-normal mb-0">Rules and Guidelines</p>
                    <p class="small mb-0">Administrator</p>
                  </div>
                </div>
                <a
                  href="#!"
                  class="
                    list-group-item list-group-item-action
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  >Projects
                  <span class="badge badge-info badge-pill">26</span>
                </a>
                <a
                  href="#!"
                  class="
                    list-group-item list-group-item-action
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  >Tasks
                  <span class="badge badge-warning badge-pill">5</span>
                </a>
                <a
                  href="#!"
                  class="
                    list-group-item list-group-item-action
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  >Completed projects
                  <span class="badge badge-success badge-pill">10</span>
                </a>
                <a
                  href="#!"
                  class="
                    list-group-item list-group-item-action
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                  >Followers
                  <span class="badge badge-danger badge-pill">728</span>
                </a>
              </div>
            </section>
          </div>
          <!-- content here -->
          <div layout:fragment="content" class="col pb-5"></div>
        </div>
      </div>
    </main>

    <footer class="aqua-gradient p-0">
      <div class="container">
        <!-- Copyright -->
        <div class="text-center text-dark py-3">
          © 2021 Copyright:
          <a class="text-center text-dark" href="#"> Develop By Hubert B</a>
        </div>
        <!-- Copyright -->
      </div>
    </footer>
    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
