<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="pagination(path)" th:if="${totalPages > 1}" class="row py-5">
    <div class="col-lg-12 col-md-12">
      <nav>
        <ul class="pagination pg-red justify-content-center">
          <li th:classappend="${pageNumber < totalPages ? 'disabled' : ''}" class="page-item">
            <a th:classappend="${pageNumber == i ? 'active' : ' '}" th:href="@{${path} + ${pageNumber - 1}}"
              class="page-link">Previous</a>
          </li>
          <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${pageNumber == i ? 'active' : ''}"
            class="page-item">
            <a th:if="${pageNumber != i}" th:href="@{${path} + ${i}}" class="page-link">[[${i}]]
              <span class="sr-only">(current)</span>
            </a>
            <a th:unless="${pageNumber != i}" class="page-link">[[${i}]] </a>
          </li>
          <li th:classappend="${pageNumber == totalPages ? 'disabled' : ''}" class="page-item">
            <a th:href="@{${path} + ${pageNumber + 1}}" class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>

</html>