<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="pagination(path)" th:if="${totalPages > 1}">

    <nav aria-label="...">

        <ul class="pagination justify-content-end ">

            <li
                    th:class="${pageNumber < totalPages ? 'page-item disabled' : ''}"><a
                    class="page-link"
                    th:href="@{${path}' + ${pageNumber - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                    tabindex="-1">Previous</a></li>

            <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:class="${pageNumber == i ? 'page-item active' : 'page-item'}">
                <a th:if="${pageNumber != i}" class="page-link"
                   th:href="@{${path} + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]
                    <span class="sr-only">(current)</span>
                </a> <a th:unless="${pageNumber != i}" class="page-link">[[${i}]] </a>
            </li>
            <li
                    th:class="${pageNumber == totalPages ? 'page-item disabled' : ''}"><a
                    class="page-link"
                    th:href="@{${path} + ${pageNumber + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                    tabindex="-1">Next</a></li>
        </ul>
    </nav>
</div>
<!--  end pagination-->

</body>
</html>