<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <div th:fragment="card(postAttr)" class="card card-wrapper">
    <!-- Card content -->

    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a th:href="@{/post/}  + ${postAttr.id}">
            <h5
              th:text="${postAttr.title}"
              class="card-title black-text float-md-left"
            ></h5
          ></a>
        </div>

        <div class="col-md-6 col-sm-6 d-none d-sm-block text-center">
          <span
            class="float-md-right"
            sec:authorize="isAuthenticated()"
          >
            <a th:href="@{/edit-post/} + ${postAttr.id}"
              ><i
                th:if="${customer.username} == ${postAttr.customer.username}"
                class="fas fa-pen mx-2 text-success fa-lg"
              >
              </i
            ></a>
            <a data-toggle="modal" data-target="#delete-post">
              <i
                th:if="${customer.username} == ${postAttr.customer.username}"
                class="fas fa-trash mx-2 pink-text fa-lg"
              ></i>
            </a>
          </span>
        </div>
      </div>

      <!-- Text -->
      <div class="card-text justify-content-md-center">
        <span class="mx-2 text-black-50">
          <i class="fas fa-star-of-david mr-2 fa-lg text-danger"></i>
          [[${postAttr.category.name}]]
          <i class="fas fa-calendar-alt mx-2 pink-text fa-lg"></i>
          [[${#dates.format(postAttr.createdDate, 'MMM-dd-yyy')}]]
          <i class="fas fa-user-circle mx-2 fa-lg pink-text"></i>
          [[${postAttr.customer.firstName} + ' ' +
          ${postAttr.customer.lastName}]]
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!-- end card -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="delete-post"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i
              class="
                fas
                fa-exclamation-triangle
                mx-2
                fa-9x
                pink-text
                animated
                rotateIn
              "
            ></i>
            <h4 class="h4-responsive my-3">
              Are you sure you want to delete?
            </h4>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Close
          </button>
          <a
            th:href="@{/delete-post/} + ${postAttr.id}"
            class="btn btn-success"
          >
            Delete Post
          </a>
        </div>
      </div>
    </div>
  </div> <!-- end modal -->
</body>
</html>