<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorate="~{/fragments/layout}"
>
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <!-- top -->
      <section class="dark-grey-text text-center d-none d-xl-block">
        <!--First row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card">
              <!-- Card content -->
              <div class="card-body my-2">
                <p><i class="fas fa-tablet-alt fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Movies</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card">
              <!-- Card content -->
              <div class="card-body my-2">
                <p><i class="fas fa-cogs fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Tutorials</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card">
              <!-- Card content -->
              <div class="card-body my-2">
                <p><i class="fas fa-pencil-ruler fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Programming</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card">
              <!-- Card content -->
              <div class="card-body my-2">
                <p><i class="fas fa-recycle fa-2x text-danger"></i></p>
                <h5 class="black-text mb-0">Development</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->
        </div>
        <!--First row-->
      </section>
      <!-- end top -->

      <section>
        <!-- Filter Area -->
        <div class="row align-items-center">
          <div class="col-md-6">
            <ul class="nav md-pills pills-danger nav-justified">
              <li class="nav-item">
                <a class="nav-link active" th:href="@{/home}">
                  <i class="fab fa-hotjar fa-lg mr-2" aria-hidden="true"></i
                  >Popular</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-list fa-lg mr-2" aria-hidden="true"></i
                  >Category</a
                >
                <div class="dropdown-menu dropdown-danger">
                  <th:block th:each="category: ${categoryList}">
                    <a
                      class="dropdown-item"
                      th:text="${category.name}"
                      th:href="@{/category/} + ${category.name}"
                    ></a>
                  </th:block>
                </div>
              </li>
              <li class="nav-item d-md-none d-lg-block">
                <a class="nav-link" th:href="@{/my-post}">
                  <i
                    class="fas fa-user-circle fa-lg mr-2"
                    aria-hidden="true"
                  ></i
                  >My Post</a
                >
              </li>
            </ul>
          </div>
          <div class="col-8 col-md-6 d-none d-md-block d-lg-block text-right">
            <a
              sec:authorize="isAuthenticated()"
              class="btn btn-danger btn-md text-capitalize"
              th:href="@{/create-post}"
            >
              <i class="fas fa-plus-square fa-lg mr-2" aria-hidden="true"></i>
              Create Post
            </a>
            <!-- View Switcher -->
          </div>
        </div>
        <!-- Filter Area -->
      </section>
      <hr class="hr" />
      <section class="my-3"></section>
      <div class="row">
        <div
          th:if="${#lists.isEmpty(allPosts)}"
          class="text-center mx-auto text-black-50 h2-responsive"
        >
          <i
            class="fas fa-exclamation-triangle my-lg-5 fa-5x text-black-50"
          ></i>
          <h4 class="h4-responsive">No available post!</h4>
        </div>
        <!-- card -->
        <div th:each="post: ${allPosts}" class="col-lg-12 col-md-12">
          <div class="card card-wrapper">
            <!-- Card content -->

            <div class="card-body">
              <div class="row">
                <div class="col-md-8 col-sm-6">
                  <a th:href="@{/post/}  + ${post.id}">
                    <h5
                      th:text="*{post.title}"
                      class="card-title black-text float-md-left"
                    ></h5
                  ></a>
                </div>

                <div
                  th:if="${customer.username} == *{post.customer.username}"
                  class="col-md-4 col-sm-6 d-none d-sm-block text-center"
                >
                  <span
                    class="float-md-right"
                    sec:authorize="isAuthenticated()"
                  >
                    <a
                      class="
                        btn
                        btn-outline-success
                        btn-outline-no-padding
                        btn-floating
                      "
                      th:href="@{/edit-post/} + ${post.id}"
                      ><i class="fas fa-edit text-success"> </i
                    ></a>
                    <a
                      class="
                        btn
                        btn-floating
                        btn-outline-danger
                        btn-outline-no-padding
                      "
                      data-toggle="modal"
                      th:attr="data-target='#delete-post'+ *{post.id}"
                    >
                      <i class="fas fa-trash pink-text"></i>
                    </a>
                  </span>
                </div>
              </div>

              <!-- Text -->
              <div class="card-text justify-content-md-center">
                <span class="mx-2 text-black-50">
                  <i class="fas fa-star-of-david mr-2 fa-lg text-danger"></i>
                  [[*{post.category.name}]]
                  <i class="fas fa-calendar-alt mx-2 pink-text fa-lg"></i>
                  [[*{#dates.format(post.createdDate, 'MMM-dd-yyy')}]]
                  <i class="fas fa-user-circle mx-2 fa-lg pink-text"></i>
                  [[*{post.customer.firstName} + ' ' +
                  *{post.customer.lastName}]]
                </span>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- end card -->
          <!-- Modal -->
          <div
            class="modal fade"
            th:id="*{'delete-post' + {post.id}}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
            <div class="modal-dialog modal-dialog-centered" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <i
                      class="
                        fas
                        fa-exclamation-triangle
                        mx-2
                        fa-9x
                        pink-text
                        animated
                        rotateIn
                      "
                    ></i>
                    <h4 class="h4-responsive my-3">
                      Are you sure you want to delete?
                    </h4>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <a
                    th:href="@{/delete-post/} + ${post.id}"
                    class="btn btn-success"
                  >
                    Delete Post
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
      <!-- end column -->

      <!-- pagination here -->
      <div th:replace="fragments/pagination::pagination(path='/page/')" />
      <!-- end pagination here -->
    </div>
    <!-- end row -->

    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
