<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />

  <head th:replace="/fragments/header :: header('My Profile')" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" th:href="@{/mdb/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/mdb/css/mdb.min.css}" />
  <link rel="stylesheet" th:href="@{/mdb/css/style.css}" />
</head>

<body class="fixed-sn white-skin">
  <nav th:replace="/fragments/navbar :: navbar" />
  <main class="px-0" style="min-height: 100vh">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-10 col-lg-12 mb-4 mt-5">
          <!--Card -->
          <div class="card p-3" style="min-height: 70vh">
            <!--Card content -->
            <div class="card-body">
              <!-- Register form -->

              <form id="myForm" th:action="@{/update-profile}" th:object="${customerDTO}" method="POST"
                enctype="multipart/form-data">
                <div class="form-header aqua-gradient p-3 d-flex align-items-start">
                  .<div class="float-left">
                    <a class="black-text" th:href="@{/}">
                      <i class="fas fa-chevron-circle-left fa-2x prefix text-black ml-3"></i>
                    </a>
                  </div>
                  <div class="mx-auto">
                    <p class="h5 text-center text-dark my-2 text-uppercase">
                      Account Area
                    </p>
                  </div>

                </div>

                <div class="row mt-5">
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <div class="card card-cascade">
                      <!-- Card image -->
                      <div class="
                            view view-cascade
                            gradient-card-header
                            aqua-gradient
                            z-depth-0
                          ">
                        <h5 class="mb-0 black-text">Edit Photo</h5>
                      </div>
                      <!-- Card image -->

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center">
                        <img id="thumbnail" alt="User Photo"
                          th:src="@{${customer.profileImage != ''}  ? ${customer.ProfileImagePath} : '/uploads/default/default.jpg'}"
                          class="z-depth-1 mb-3 mx-auto rounded-circle" width="150px" height="150px" />

                        <p class="text-muted">
                          <small>Profile photo will be previewed
                            automatically</small>
                        </p>
                        <div class="row flex-center file-field">
                          <div class="
                                btn
                                aqua-gradient
                                text-capitalize
                                btn-sm
                                float-left
                                black-text
                              ">
                            <span>
                              <i class="fas fa-cloud-upload-alt mr-2"></i>Upload new image</span>
                            <input id="profileImage" name="profileImage" th:value="*{profileImage}"
                              th:field="*{profileImage}" type="file" accept="image/png, image/jpeg" />
                          </div>
                        </div>
                        <p th:if="${errorProfile}" th:text="${errorProfile}" class="text-danger"></p>
                      </div>
                      <!-- Card content -->
                    </div>
                  </div>

                  <!-- first row -->
                  <div class="col-lg-8 col-md-6">
                    <div class="row">
                      <!-- first column  -->
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- input group -->
                        <label for="basic-addon1">First Name</label>
                        <div class="input-group input-group-lg mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                class="fas fa-user fa-lg prefix text-success"></i></span>
                          </div>
                          <input th:field="*{id}" type="hidden" class="form-control" />
                          <input type="text" class="form-control" placeholder="First Name"
                            aria-describedby="basic-addon1" autocomplete="off" name="firstName" id="firstName"
                            th:value="*{firstName}" th:errorclass="error" />
                        </div>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></p>

                        <!-- end input group -->
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- input group -->
                        <label for="basic-addon1">Last Name</label>
                        <div class="input-group input-group-lg mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                class="fas fa-user fa-lg prefix text-success"></i></span>
                          </div>

                          <input type="text" class="form-control" placeholder="Last Name"
                            aria-describedby="basic-addon1" autocomplete="off" id="lastName" name="lastName"
                            th:value="*{lastName}" th:errorclass="error" />
                        </div>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></p>

                        <!-- end input group -->
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- input group -->
                        <label for="basic-addon1">Username</label>
                        <div class="input-group input-group-lg mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                class="fas fa-user fa-lg prefix text-success"></i></span>
                          </div>

                          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"
                            autocomplete="off" id="username" name="username" th:value="*{username}"
                            th:errorclass="error" />
                        </div>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>

                        <!-- end input group -->
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- input group -->
                        <label for="basic-addon1">Email
                          <small class="ml-2 text-danger">(*Cannot be updated)</small></label>
                        <div class="input-group input-group-lg mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="
                                    far
                                    fa-envelope fa-lg
                                    prefix
                                    text-success"></i>
                            </span>
                          </div>

                          <input type="text" class="form-control" placeholder="Email Address"
                            aria-describedby="basic-addon1" autocomplete="off" name="email" th:value="*{email}"
                            disabled />
                        </div>

                        <!-- end input group -->
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label for="exampleFormControlTextarea2">Decription about yourself</label>
                          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" name="description"
                            th:field="*{description}" rows="5" placeholder="Enter your description here!"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- first row -->
                </div>

                <div class="text-center mt-4">
                  <a th:href="@{/home}" class="btn btn-outline-danger waves-dark">
                    <i class="fas fa-angle-double-left fa-lg prefix mr-2"></i>
                    Go Back
                  </a>
                  <button id="btn-submit" type="submit" class="btn btn-success waves-effect waves-light">
                    <i class="far fa-edit fa-lg prefix mr-2"></i>
                    Update Account
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!--Card -->
        </div>
      </div>
    </div>
  </main>
  <footer class="shadow p-0">
    <div class="container">
      <!-- Copyright -->
      <div class="text-center text-dark py-3">
        © 2021 Copyright:
        <a class="text-center text-dark" href="#">Develop By Hubert B</a>
      </div>
      <!-- Copyright -->
    </div>
  </footer>
  <script th:fragment="script" th:src="@{/mdb/js/jquery-3.4.1.min.js}"></script>
  <script th:fragment="script" th:src="@{/mdb/js/popper.min.js}"></script>
  <script th:fragment="script" th:src="@{/mdb/js/bootstrap.min.js}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#profileImage').change(function () {
        showImageThumbnail(this);
      });

      function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#thumbnail').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }

      $('#firstName, #lastName, #username').change(function () {
        if (
          !$('#firstName').val() ||
          !$('#lastName').val() ||
          !$('#username').val()
        ) {
          $('#btn-submit').addClass('disabled');
        } else {
          $('#btn-submit').addClass('btn-success').removeClass('disabled');
        }
      });
    });
  </script>
</body>

</html>