<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorate="~{/fragments/layout}"
>
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <div class="row">
        <!-- card -->
        <div class="col-lg-12 col-md-12">
          <div
            th:each="post: ${allPosts}"
            class="card"
            style="margin-top: 20px"
          >
            <!-- Card content -->

            <div class="card-body card-body-cascade">
              <!-- Title -->
              <h5 th:text="${post.title}" class="card-title"></h5>
              <span class="float-right"> </span>
              <!-- Text -->
              <div class="card-text">
                <span class="mx-2 text-black-50">
                  <i class="fas fa-photo-video mr-2 fa-lg text-success"></i>
                  [[${post.category.name}]]
                  <i class="fas fa-calendar-alt mx-2 pink-text fa-lg"></i> May
                  09, 2021
                  <i class="fas fa-user-circle mx-2 fa-lg pink-text"></i>
                  [[${post.customer.firstName} + ' ' +
                  ${post.customer.lastName}]]
                </span>
              </div>
            </div>
          </div>
          <!-- Card content -->
        </div>
      </div>
      <!-- end card -->
    </div>
    <script th:replace="/fragments/script :: script"></script>
  </body>
</html>
