<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/header :: header" />
  <body class="fixed-sn white-skin">
    <nav th:replace="/fragments/navbar :: navbar" />
    <div class="container">
      <section class="dark-grey-text text-center my-5">
        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4">
          | bert0
        </h6>
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2">
          Sharing of Ideas made Easy
        </h3>
        <hr class="w-header" />
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">
          It's really easy to create a landing page for your awesome product.
        </p>

        <!--First row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card hoverable">
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
                <h5 class="black-text mb-0">Movies</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card hoverable">
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-cogs fa-2x text-muted"></i></p>
                <h5 class="black-text mb-0">Tutorials</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card hoverable">
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-pencil-ruler fa-2x text-muted"></i></p>
                <h5 class="black-text mb-0">Programming</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
            <!-- Card -->
            <a href="#!" class="card hoverable">
              <!-- Card content -->
              <div class="card-body my-4">
                <p><i class="fas fa-recycle fa-2x text-muted"></i></p>
                <h5 class="black-text mb-0">Development</h5>
              </div>
            </a>
            <!-- Card -->
          </div>
          <!--Grid column-->
        </div>
        <!--First row-->
      </section>
    </div>
  </body>
</html>
