<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/fragments/layout}"
>
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-6 mb-4">
          <!--Card -->
          <div class="card p-3 z-depth-1-half">
            <!--Card content -->
            <div class="card-body">
              <!-- Register form -->
              <form th:action="@{/login}" method="POST">
                <div class="form-header green accent-3">
                  <p class="h5 text-center text-dark my-2">
                    Login to Forum Ninja
                  </p>
                </div>

                <!-- Error -->
                <div
                  class="alert alert-danger text-center"
                  th:if="${param.error}"
                  role="alert"
                >
                  Invalid username and password
                </div>
                <div
                  class="alert alert-success text-center"
                  th:if="${success_register}"
                  role="alert"
                >
                  [[${success_register}]]
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      ><i
                        class="fas fa-user-circle fa-2x prefix text-success"
                      ></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control p-4"
                    placeholder="Username"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                    autocomplete="off"
                    name="username"
                  />
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fas fa-lock fa-2x prefix text-success"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control p-4"
                    placeholder="password"
                    aria-label="Password"
                    aria-describedby="basic-addon1"
                    autocomplete="off"
                    name="password"
                  />
                </div>

                <div class="text-center mt-4">
                  <button
                    type="submit"
                    class="btn btn-success waves-effect waves-light"
                  >
                    Login
                  </button>
                </div>
              </form>
              <!-- login form -->
              <p class="text-center mt-2">
                Not yet registered?
                <a class="text-success" th:href="@{/register}"
                  >Create account here!</a
                >
              </p>
            </div>
          </div>
          <!--Card -->
        </div>
      </div>
    </div>
    <script th:replace="/fragments/script :: script" />
  </body>
</html>
