<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="/fragments/header :: header"/>
</head>
<body>
  
  <div class="container">
    <div class="row justify-content-center align-items-center mx-auto" style="min-height: 70vh;">

      <div class="col-md-5 col-sm-6 shadow p-5 bg-row">
         <form method="POST" th:action="@{/register}"  th:object="${customerDTO}">
          <h3 class="display-5 text-center my-4">Registration</h3>

          <!-- Error -->
          <!-- <div class="alert alert-danger text-center" th:if="${param.error}"  role="alert">
            Invalid username and password
          </div>

          <div class="alert alert-success" th:if="${param.logout}"  role="alert">
            Logged out successfully
          </div> -->

        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-person-bounding-box text-success"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="firstName" placeholder="enter firstName" autocomplete="off"  th:value="*{firstName}" th:errorclass="error">
        </div>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
        class="text-danger mt-1"></p>
        

        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-person-bounding-box text-success"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="lastName" placeholder="enter lastName" autocomplete="off" th:value="*{lastName}" th:errorclass="error">
        </div>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"  class="text-danger mt-1"></p>

        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-envelope-fill text-success"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="email" placeholder="enter email" autocomplete="off" th:value="*{email}" th:errorclass="error">
        </div>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="text-danger mt-1"></p>

        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-person-bounding-box text-success"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="username" placeholder="enter username" autocomplete="off" th:value="*{username}" th:errorclass="error">        
        </div>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  class="text-danger mt-1"></p>

        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-shield-lock-fill text-success"></i>
            </span>
          </div>
          <input type="password" class="form-control" name="password" placeholder="enter password" autocomplete="off" th:value="*{password}" th:errorclass="error">
        </div>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger mt-1"></p>


        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-shield-lock-fill text-success"></i>
            </span>
          </div>
          <input type="password" class="form-control" name="rPassword" placeholder="re-enter password" autocomplete="off" th:value="*{rPassword}" th:errorclass="error">      
        </div> 
        <p th:if="${#fields.hasErrors('rPassword')}" th:errors="*{rPassword}"  class="text-danger mt-1"></p> 

        <button type="submit" class="btn btn-success btn-block">Register</button>
    </form>
    <p class="text-center mt-2">Already have account? <a class="text-success" href="/login">Login here!</a></p>
      </div>
    </div>
   
  </div>
</body>
</html>