<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/fragments/layout}"
>
  <body class="fixed-sn white-skin">
    <div layout:fragment="content">
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-8 mb-4">
          <!--Card -->
          <div class="card p-3 z-depth-1-half">
            <!--Card content -->
            <div class="card-body">
              <!-- Register form -->
              <form
                th:action="@{/register}"
                th:object="${customerDTO}"
                method="POST"
              >
                <div class="form-header green accent-3">
                  <p class="h5 text-center text-dark my-2">
                    Register to Forum Ninja
                  </p>
                </div>
                <!-- input group 2 columns -->
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i
                            class="fas fa-user-circle fa-2x prefix text-success"
                          ></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control p-4"
                        placeholder="first name"
                        aria-describedby="basic-addon1"
                        autocomplete="off"
                        name="firstName"
                        th:value="*{firstName}"
                        th:errorclass="error"
                      />
                    </div>
                    <p
                      th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}"
                      class="text-danger"
                    ></p>
                  </div>

                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i
                            class="fas fa-user-circle fa-2x prefix text-success"
                          ></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control p-4"
                        placeholder="last name"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        autocomplete="off"
                        name="lastName"
                        th:value="*{lastName}"
                        th:errorclass="error"
                      />
                    </div>
                    <p
                      th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}"
                      class="text-danger"
                    ></p>
                  </div>
                </div>
                <!-- end input group 2 columns -->

                <!-- input group -->
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      ><i
                        class="fas fa-user-circle fa-2x prefix text-success"
                      ></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control p-4"
                    placeholder="enter username"
                    aria-describedby="basic-addon1"
                    autocomplete="off"
                    name="username"
                    th:value="*{username}"
                    th:errorclass="error"
                  />
                </div>
                <p
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"
                  class="text-danger"
                ></p>
                <!-- end input group -->

                <!-- input group -->
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      ><i
                        class="fas fa-envelope-open-text fa-2x prefix text-success"
                      ></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control p-4"
                    placeholder="email address"
                    aria-describedby="basic-addon1"
                    autocomplete="off"
                    name="email"
                    th:value="*{email}"
                    th:errorclass="error"
                  />
                </div>
                <p
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="text-danger"
                ></p>
                <!-- end input group -->

                <!-- input group 2 columns -->
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="fas fa-lock fa-2x prefix text-success"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control p-4"
                        placeholder="enter password"
                        aria-describedby="basic-addon1"
                        autocomplete="off"
                        name="password"
                        th:value="*{password}"
                        th:errorclass="error"
                      />
                    </div>
                    <p
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"
                      class="text-danger"
                    ></p>
                  </div>

                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="fas fa-lock fa-2x prefix text-success"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        class="form-control p-4"
                        placeholder="re enter password"
                        aria-describedby="basic-addon1"
                        autocomplete="off"
                        name="rPassword"
                        th:value="*{rPassword}"
                        th:errorclass="error"
                      />
                    </div>
                    <p
                      th:if="${#fields.hasErrors('rPassword')}"
                      th:errors="*{rPassword}"
                      class="text-danger"
                    ></p>
                  </div>
                </div>
                <!-- end input group 2 columns -->

                <div class="text-center mt-4">
                  <button
                    type="submit"
                    class="btn btn-success waves-effect waves-light"
                  >
                    Register
                  </button>
                </div>
              </form>
              <!-- login form -->
              <p class="text-center mt-2">
                Already have account?
                <a class="text-success" th:href="@{/login}">Log in here!</a>
              </p>
            </div>
          </div>
          <!--Card -->
        </div>
      </div>
    </div>
  </body>
</html>
